/Users/isaachall/Desktop/pinterest_project/db_creds.yaml
/Users/isaachall/Desktop/pinterest_project/dag_creds.yaml
/Users/isaachall/Desktop/pinterest_project/0affee876ba9-key-pair.pem
/Users/isaachall/Desktop/pinterest_project/.DS_Store
